    /* The sidebar menu */
    
    @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
    body {
        font-family: 'Muli', sans-serif;
    }
    
    .bg-image {
        height: 150px;
    }
    
    .search {
        display: flex;
        float: none;
        justify-content: center;
    }
    
    .search div {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .search .input {
        background-color: rgba(0, 0, 0, 0.282);
        font-weight: bold;
        border: none;
        height: 50px;
    }
    
    .search .label {
        font-weight: bold;
        color: white;
        margin-top: -5px;
    }
    
    .dropdown-menu a:hover {
        color: #f1f1f1;
        background: #dc3545;
    }
    
    .search button {
        margin-left: 5px;
        height: 50px;
    }
    
    .content {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        margin-top: 20px;
        display: none;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .content .content-detail {
        display: flex;
        text-align: left;
    }
    
    .content .content-detail .job-details {
        align-items: left;
        margin-left: 5px;
    }
    
    @media screen and (max-width: 991px) {
        .content {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    
    @media screen and (max-width: 620px) {
        .search {
            font-size: 20px;
        }
        .search .input {
            color: white;
            font-size: 20px;
        }
        .search button {
            font-size: 20px;
        }
        .content {
            font-size: 20px;
            padding-left: 0%;
            padding-right: 0%;
        }
    }
    
    @media screen and (max-width: 570px) {
        .bg-image {
            height: 300px;
        }
        .search {
            display: block;
            justify-content: center;
        }
        .search button {
            height: 40px;
        }
    }
    
    @media screen and (max-width: 400px) {
        .bg-image {
            height: 200px;
        }
        .search {
            margin-top: -12%;
            display: block;
            justify-content: center;
            font-size: 16px;
        }
        .search button {
            font-size: 16px;
            height: 40px;
        }
        .search .input {
            height: 50px;
        }
        .search .label {
            padding-top: 15px;
            height: 50px;
        }
    }