/* The sidebar menu */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
    font-family: 'Muli', sans-serif;
    word-break: break-all;
}

#exTab1 .tab-content {
    padding: 5px 15px;
}

#exTab2 h3 {
    padding: 5px 15px;
}


/* remove border radius for the tab */

#exTab1 .nav-pills>li>a {
    border-radius: 0;
}


/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills>li>a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    padding: 5px 15px;
}

.paginate_button {
    border-radius: 0 !important;
}

.table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
}

.w-5 {
    display: none;
}

@media screen and (max-width: 500px) {
    .bot3 {
        display: none;
    }
    .pagebot {
        width: auto;
        height: 10px;
        font-size: 6px;
        text-align: center;
        padding-top: 0px;
    }
    .gbot {
        width: auto;
        height: 25px;
        font-size: 10px;
        text-align: center;
        padding-top: 0px;
    }
    .picture-src {
        height: 40px;
        width: 40px;
    }
    .btn1 {
        width: 40px;
        height: 20px;
    }
    .pageicon {
        width: 3px;
        height: 3px;
    }
    .h3 {
        font-size: 16px;
    }
    input {
        height: 30px;
        width: 140px;
    }
    label {
        font-size: 12px;
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .gbot {
        width: auto;
        height: 30px;
        font-size: 12px;
        text-align: center;
        padding-top: 0px;
    }
    .pagebot {
        width: auto;
        height: 25px;
        font-size: 14px;
        text-align: center;
        padding-top: 0px;
    }
    i {
        width: 12px;
        height: 12px;
    }
    .h3 {
        text-align: center;
        font-size: 16px;
    }
    .page {
        height: 20px;
        width: 40px;
    }
    .picture-src {
        height: 60px;
        width: 60px;
        justify-content: center;
    }
}


/* table */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    font-size: 14px;
    padding: .625em;
    text-align: center;
}

table th {
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: .625em;
    }
    table td {
        display: block;
        font-size: 12px;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}


/* general styling */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}