/* The sidebar menu */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
    font-family: 'Muli', sans-serif;
}

@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/muli/Muli-Regular.ttf");
}

@font-face {
    font-family: "Muli-SemiBold";
    src: url("../fonts/muli/Muli-SemiBold.ttf");
}

@font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/muli/Muli-Bold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Muli-Regular";
    color: #666;
    font-size: 13px;
    margin: 50 0 0 0;
}

a {
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    font-weight: bold;
    padding-left: 10px;
}

input,
textarea,
select,
button {
    font-family: "Muli-Regular";
    color: #333;
    font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.inner {
    min-width: 850px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;
    background: url("../img/bg-registration-form-2.jpg");
}

.inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px;
}

form {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
}

.form-wrapper {
    margin-bottom: 17px;
}

.form-wrapper label {
    margin-bottom: 9px;
    display: block;
}

.form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none;
}

input {
    background-color: #FFFFFF;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px;
}

select option[value=""][disabled] {
    display: none;
}

.checkbox {
    position: relative;
}

.checkbox label {
    padding-left: 22px;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
}

.checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: '\f26b';
}

@media (max-width: 991px) {
    .inner {
        min-width: 768px;
    }
}

@media (max-width: 767px) {
    .inner {
        min-width: auto;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    form {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 400px) {
    .inner {
        min-width: auto;
        background: none;
        margin-top: 30px;
        padding-bottom: 0;
        text-align: center;
        font-size: 12px;
    }
    form {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    input {
        height: 30px;
        width: 140px;
    }
    label {
        font-size: 12px;
        text-align: left;
    }
    .btn {
        width: auto;
        height: auto;
        font-size: 12px;
        padding-left: 0;
        padding-top: 0;
        text-align: center;
        margin-top: 0;
    }
    a {
        font-size: 12px;
    }
    h3 {
        font-size: 15px;
    }
}